@using MyMoney.Data.Models
@using MyMoney.Infrastructure
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Money</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <header class="header">
        <div class="nav-section">
            <div class="brand-and-navBtn">
                <a asp-controller="Home" asp-area="" asp-action="Index">
                    <span class="brand-name" style="color: white;">
                        My Money
                    </span>
                </a>
                <span class="navBtn flex">
                    <i class="fas fa-bars"></i>
                </span>
            </div>

            <!-- navigation menu -->
            <nav class="top-nav">
                <ul>
                    <li style="text-align: center; vertical-align: middle;"><a asp-area="@(this.User.IsAdmin() ? "Admin" : "")" asp-controller="Deposits" asp-action="Index">Депозити</a></li>
                    <li style="text-align: center; vertical-align: middle;"><a asp-area="@(this.User.IsAdmin() ? "Admin" : "")" asp-controller="Credits" asp-action="Index">Кредити</a></li>
                    <li style="text-align: center; vertical-align: middle;"><a asp-area="@(this.User.IsAdmin() ? "Admin" : "")" asp-controller="Insurrances" asp-action="Index">Застраховки</a></li>

                    <partial name="_LoginPartial" />
                </ul>
            </nav>
            <span class="search-icon">
                <i class="fas fa-search"></i>
            </span>
        </div>

        <div class="container about">
            <div class="about-content">
                <div class="about-img flex">
                    <img src="/images/android-chrome-192x192.png" width="20" height="20" alt="bank img">
                </div>
                <h2>MyMoney</h2>
                <h3>Making Banking easy</h3>
                <blockquote>
                    "Never spend your money before you have it."
                    <span>-Thomas Jefferson</span>
                </blockquote>
            </div>

            <div class="social-icons">
                <ul>
                    <li>
                        <a href="#"></a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div class="container">
        @if (TempData.ContainsKey(WebConstants.GlobalSuccessKey))
        {
            <div class="alert alert-success text-center" role="alert">
                @TempData[WebConstants.GlobalSuccessKey]
            </div>
        }
        @if (TempData.ContainsKey(WebConstants.GlobalErrorKey))
        {
            <div class="alert alert-danger text-center" role="alert">
                @TempData[WebConstants.GlobalErrorKey]
            </div>
        }
        <main role="main" class="mb-3 mt-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="footer-container container">
            <div>
                <h2>My Money</h2>
                <p>Where understanding money is easy.</p>
                <hr />
                <h4><a asp-controller="Home" asp-area="" asp-action="Privacy" style="color: white;">Privacy Policy</a></h4>
            </div>
            <div>
                <h3>Free Subscription!</h3>
                <p>Абонирайте се за да ви научите за нашите най-нови услуги първи!</p>

                <div class="subs">
                    <i class="fas fa-envelope"></i>
                    <input type="email" id="email" placeholder="Email Address">
                    <button type="submit">SUBSCRIBE</button>
                </div>
            </div>
        </div>
        <p>&copy; Copyright My Money. Everything about money</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
