@using MyMoney.Data.Models.Enums
@using MyMoney.Models.Deposits
@model AllDepositsQueryModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="get" class="mb-3">
    <div class="row">
        @*<div class="col-md-5">
        <div class="input-group">
        <label asp-for="SearchTerm" class="input-group-text">Search</label>
        <input asp-for="SearchTerm" class="form-control" placeholder="">
        </div>
        </div>*@
        <div class="col-md-3">
            <div class="input-group">
                <label asp-for="CurrencySearch" class="input-group-text">Category</label>
                <select asp-for="CurrencySearch" class="form-control">
                    <option value="">All</option>
                    @foreach (var currency in Enum.GetValues(typeof(Currency)))
                    {
                        <option value="@((Currency)currency)" selected="@(Model.CurrencySearch == (Currency)currency)">@currency</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <label asp-for="Sorting" class="input-group-text">Sort By</label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0" selected>Name</option>
                    <option value="1">Last Added</option>
                    <option value="2">First Added</option>
                    <option value="3">Price (Ascending)</option>
                    <option value="4">Price (Descending)</option>
                </select>
            </div>
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th style="text-align: center; vertical-align: middle;">
                Минимална сума
            </th>
            <th style="text-align: center; vertical-align: middle;">
                Валута
            </th>
            <th style="text-align: center; vertical-align: middle;">
                Срок
            </th>
            <th style="text-align: center; vertical-align: middle;">
                Годишна лихва
            </th>
            <th style="text-align: center; vertical-align: middle;">
                Тип клиент
            </th>
            <th style="text-align: center; vertical-align: middle;">
                Олихвяване
            </th>
            <th style="text-align: center; vertical-align: middle;">
                Фикирана лихва
            </th>
            <th style="text-align: center; vertical-align: middle;">
                Възможност за овърдрафт
            </th>
            <th style="text-align: center; vertical-align: middle;">
                Възможност за кредит
            </th>
            <th style="text-align: center; vertical-align: middle;">
                Желана сума
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Deposits)
        {
            <tr>
                <td style="text-align: center; vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.MinimalAmount)
                </td>
                <td style="text-align: center; vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td style="text-align: center; vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.Term) месеца
                </td>
                <td style="text-align: center; vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.AnnualInterestRate)
                </td>
                <td style="text-align: center; vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.ClientType)
                </td>
                <td style="text-align: center; vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.InterestPayment)
                <td style="text-align: center; vertical-align: middle;">
                        @Html.DisplayFor(modelItem => item.IsInterestFixed)
                </td>
                <td style="text-align: center; vertical-align: middle;">
                        @Html.DisplayFor(modelItem => item.OverdraftFacility)
                </td>
                <td style="text-align: center; vertical-align: middle;">
                        @Html.DisplayFor(modelItem => item.CreditFacility)
                </td>
                <td style="text-align: center; vertical-align: middle;">
                    <div class="input-group">
                        <input id="desiredAmountInput" asp-for="DesiredAmount" class="form-control" />
                    </div>
                </td>
                <td>
                    <div class="button-holder">
                        <a href="/Deposits?querySearch=@Model&depositId=@item.Id&desiredAmount=@Model.DesiredAmount" class="btn btn-info">Calculate</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.SelectedDepositId != null)
{
    <div class="col-md-5">
        <div class="input-group">
            <label class="input-group-text">Total Amount:</label>
            <span class="form-control" placeholder="">@Html.DisplayFor(modelItem => Model.CalculatedAmount)</span>
        </div>
    </div>
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var calculateButton = document.getElementById("calculateButton");
        var desiredAmountInput = document.getElementById("desiredAmountInput");

        calculateButton.addEventListener("click", function (event) {
            event.preventDefault();

            var desiredAmount = desiredAmountInput.value;
            var querySearchModel = "@Model";
            var depositId = calculateButton.getAttribute("data-deposit-id");

            var url = `/Deposits?querySearch=${querySearchModel}&depositId=${depositId}&desiredAmount=${desiredAmount}`;

            @*console.log(url); *@
            window.location.href = url;
        });
    });
</script>